
body{
    background-color: whitesmoke;
}

#bg-left {
    background-color: rgb(255,186,8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 65%;
    z-index: -1;
}

#portfolio {
    font-size: 8rem;
    margin-top: 18rem;
    white-space: pre-wrap;
}
.name{
    font-size: 2rem;
    white-space: pre-wrap;
}

#about {
    background:rgb(255,186,8) ;
    padding: 40px;
}

.navbar {
    background:rgb(255,186,8) !important;
    padding: 16px !important;
}
.navbar-brand {
    font-size: 58px !important;
}
.nav-link {
    font-size: 22px;
    color: black !important;
    padding-bottom: 23px !important;
}
.active {
    color: rgb(214,40,40) !important;
}

#about {
    background-color: rgb(223, 95, 95);
    position: fixed;
    top: 20%;
    bottom: 10%;
    left: 0;
    right: 45%;
    z-index: -1;
}

#aboutme{
    font-size: 25px;
    font-weight: normal;
}

#CS{
    color: rgb(15, 124, 62);
    text-decoration: none;
}

#RM{
    color: rgb(15, 124, 62);
    text-decoration: none;
}

input[type=text], select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical;
}

input[type=submit] {
background-color: rgb(219, 215, 215);
color: navy;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
width: 25%;
}

input[type=submit]:hover {
    background-color: olive;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

#fname .container {
    font-size: 20px;
}

@media (max-width: 1199.98px){

}
@media (max-width: 767.98px){

}